<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-blue">
        <figure>
          <img src="../../../assets/project-images/acquire_logo.png" alt="Appiness Logo">
        </figure>
      </div>
      <div class="box-content bg-white">
        <div class="content">
          <h3 class="heading font-medium color-dark-grey">LOGIN</h3>
          <p class="sub-heading font-medium color-light-grey">Welcome back, please login to your account.</p>
          <!-- Login Form Start -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form custom-form">

            <input type="text" placeholder="Email" formControlName="email">
            <div
              *ngIf="loginForm.controls['email'].hasError('required') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
              class="error">
              Please enter an email to login.
            </div>

            <input type="password" placeholder="Password" formControlName="password">
            <div
              *ngIf="loginForm.controls['password'].hasError('required')  && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
              class="error">
              Please enter a password
            </div>
            <div class="action-items d-flex justify-content-between">
              <div class="remember-me">
                <p-checkbox styleClass="custom-checkbox" labelStyleClass="checkbox-label" name="rememberme"
                  [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" binary="true" label="Remember Me">
                </p-checkbox>
              </div>
              <div class="forget-password"><a href="#" class="no-style-link font-medium"
                  routerLink="../register">Register</a></div>
            </div>
            <button type="submit" title="Login" class="custom-btn yellow-btn text-center block-center"
              [disabled]="!loginForm.valid">Login</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
