<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-blue">
        <figure>
          <img src="../../../assets/project-images/acquire_logo.png" alt="Delivr Logo">
        </figure>
      </div>
      <div class="box-content bg-white">
        <div class="content">
          <h3 class="heading font-medium color-dark-grey">Register</h3>
          <p class="sub-heading font-medium color-light-grey">Welcome, please create your account.</p>

          <!-- Login Form Start -->
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form custom-form">

            <input type="email" placeholder="Email" formControlName="email">

            <div
              *ngIf="registerForm.controls['email'].hasError('required') && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
              class="error">
              Please enter email.
            </div>
            <div *ngIf="registerForm.controls.email.errors?.email" class="error">
              Please provide valid email id
            </div>

            <input type="text" placeholder="Name" formControlName="name">
            <div
              *ngIf="registerForm.controls['name'].hasError('required')  && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)"
              class="error">
              Please enter a name
            </div>

            <input type="password" placeholder="Password" formControlName="password">
            <div
              *ngIf="registerForm.controls['password'].hasError('required')  && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
              class="error">
              Please enter a password
            </div>
            <div *ngIf="registerForm.controls['password'].hasError('minlength')" class="error">
              Password must be minimum 8 characters long
            </div>
            <div *ngIf="registerForm.controls['password'].hasError('pattern')" class="error">
              Password must have at least one number, one lowercase and one uppercase letter
            </div>


            <input type="password" placeholder="Confirm Password" formControlName="confirmpassword">
            <div
              *ngIf="registerForm.controls['confirmpassword'].hasError('required')  && (registerForm.controls['confirmpassword'].dirty || registerForm.controls['confirmpassword'].touched)"
              class="error">
              Please re-enter the password
            </div>
            <div *ngIf="registerForm.controls['password'].value !== registerForm.controls['confirmpassword'].value"
              class="error">
              Password does not matched
            </div>
            <div *ngIf="registerForm.controls['confirmpassword'].hasError('minlength')" class="error">
              Password must be minimum 8 characters long
            </div>
            <div *ngIf="registerForm.controls['confirmpassword'].hasError('pattern')" class="error">
              Password must have at least one number, one lowercase and one uppercase letter
            </div>


            <div class="action-items d-flex justify-content-between">
              <div class="remember-me">
                <p-checkbox styleClass="custom-checkbox" labelStyleClass="checkbox-label" name="rememberme"
                  label="I accept all terms & conditions" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}"
                  binary="true">
                </p-checkbox>
              </div>

              <div class="forget-password"><a href="#" class="no-style-link font-medium" routerLink="../login">Login</a>
              </div>

            </div>
            <button type="submit" title="Login" [disabled]="!registerForm.valid"
              class="custom-btn yellow-btn text-center block-center">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
